@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* this is for the map on pyscript */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(135deg, #ff4e50, #f9d423);
    color: #fff;
}

#map {
    height: 80vh;
    width: 90%;
    border: 3px solid #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    margin: 40px auto;
    max-width: 1200px;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 1;
}

#map:hover {
    transform: scale(1.1);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
}

#map:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    z-index: -1;
    filter: blur(15px);
    opacity: 0.8;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; /* Prevent scrollbars */
}

h1 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 20px 0;
    color: #fff;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    animation: neon-glow 1.5s infinite alternate;
}

h1:after {
    content: '';
    display: block;
    width: 70px;
    height: 6px;
    background: #fff;
    margin: 10px auto;
    border-radius: 3px;
}

@keyframes neon-glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff4e50, 0 0 40px #ff4e50, 0 0 50px #ff4e50, 0 0 60px #ff4e50, 0 0 70px #ff4e50;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4e50, 0 0 40px #ff4e50, 0 0 50px #ff4e50, 0 0 60px #ff4e50, 0 0 70px #ff4e50, 0 0 80px #ff4e50;
    }
}

@keyframes background-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body, html {
    animation: background-animation 10s ease infinite;
}
